body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0px;
    padding: 0px;
    display: block; /*permite el desplazamiento hacia abajo de los campos, sino flex*/
    overflow-y: auto; /*permite el desplazamiento vertical si es necesario */
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 100vh;

    box-sizing: border-box;

}

h1{
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

.form-container{
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-container h2{
    text-align: center;
    margin-bottom: 20px;
}
/*para ocultar el campo id no necesario por ahora */
/*
#customerId{
    display:none;
}
*/

.table-container{
    width: 90%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
   
}
form h2{
    text-align: center;
    margin-bottom: 20px;
}
label{
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="file"],
textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



input[type="text"], input[type="email"]{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border:none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    cursor: pointer;
}
button:hover{
    background-color: #0056b3;
}

.table-container{
    margin-top: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table, th, td{
    border: 1px solid #ccc;
}

th, td{
    padding: 10px;
    text-align: left;
}
th{
    background-color: #f4f4f4;
}
td{
    background-color: #ffffff;
}

button.edit, button.delete{
    margin-right: 5px;
}







